html,
body,
#root,
.wrapper {
  height: 100%;
  width: 100%;
}

.content {
  margin: 40px 40px 0;
  background-color: $white;
  padding: 20px 40px;
  box-shadow: 0 0 2px 1px $dark-gray;
}

.description {
  font-size: small;
}
